.dp{
    width: 97%;
    height: 600px;
    border:  5px solid brown;
    margin-left: 20.5px;
    margin-top: 20px;
    display: flex;
}

img{
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 25px;
}

h1{
    display: block;
    margin-left: 200px;
    color: rgb(100, 43, 43);
    text-transform: capitalize;
    margin-top: 10%;
}

p{
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 25px;
    font-size: 20px;
    line-height: 1.5;
}

span{
    color: brown;
    text-shadow: 1px 1px;
    text-overflow: ellipsis;
    font-size: 20px;
    text-decoration-line: underline;
}